{% extends 'front/layout.html' %}
{% block content %}
<div class="col-md-8">
<figure style="height: 400px;" id="myChart"></figure>
</div>
<div id="extra-chart" class="col-md-2">
{{ view.filter_form_html }}
</div>

{% endblock %}