<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/xcharts.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/xcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var data = JSON.parse('{{ view.chart_json_data | safe }}');
            var myChart = new xChart('bar', data, '#myChart', {
            {% comment %}
                sortX: function (a, b) {
                    console.log(a.y, b.y);
                    console.log((!a.y && !b.y) ? 0 : (a.y < b.y) ? -1 : 1);
                    return (!a.y && !b.y) ? 0 : (a.y < b.y) ? -1 : 1; }
            {% endcomment %}
            });

            $('#menu-link').find('a:not(#grid)').click(function(){
                $('#menu-link').find('li').each(function(){
                    $(this).removeClass('active');
                })
                $(this).parent('li').addClass('active');
                $.post($(this).attr('href'),
                        {'test':123},
                        function(json){
                            myChart.setData(json.chart_data);
                        $('#extra-chart').html(json.filter_form);
                        $('#id_month').change(function() {

                            $.post(
                                    $('#menu-link').find('li.active > a').attr('href'),
                                    {'filter': $(this).val()},
                                    function(json){
                                        myChart.setData(json.chart_data);
                                    }, 'json');

                            });
                }, 'json');
                return false;

            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
    </div>
    <div class="row">
      <div class="col-md-2">
            <ul id="menu-link" class="nav nav-pills nav-stacked">
              <li class="active">
                <a id="grid" href="{% url 'grid' %}">
                  grid
                </a>
              </li>
              <li>
                <a href="{% url '1' %}">
                  1 chart
                </a>
              </li>
              <li>
                <a href="{% url '2' %}">
                  2 chart
                </a>
              </li>
              <li>
                <a href="{% url '3' %}">
                  3 chart
                </a>
              </li>
              <li>
                <a href="{% url '4' %}">
                  4 chart
                </a>
              </li>
            </ul>
      </div>
      <div class="col-md-10">
        <div class="row">
          {% block content %}

          {% endblock %}
      </div>
      </div>
    </div>
</div>

</body>
</html>