{% extends 'front/layout.html' %}
{% block content %}
<div class="col-md-12">
    <table class="table">
        <thead>
        <tr>
          <th>Type</th>
          <th>Server</th>
          <th>Key</th>
          <th>Date</th>
          <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in view.objects %}
        <tr>
          <td>{{ obj.type }}</td>
          <td>{{ obj.server }}</td>
          <td>{{ obj.key }}</td>
          <td>{{ obj.date }}</td>
          <td>{{ obj.summary }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}